player-connection-mode=Connect
player-connection-guid=2910855819
player-connection-debug=0
player-connection-project-name=Custom_PerformanceMonitor
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.10
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=efc7b914cea2438e8b849b2288c6706f
